<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="format-detection" content="telephone=no"/>
    <link rel="icon" href="static/images/favicon.ico" type="image/x-icon">
    <title>Kerrin Arora - About</title>

    <!-- Bootstrap -->
    <link href="static/css/bootstrap.css" rel="stylesheet">

    <!-- Links -->


    <!--JS-->
    <script src="static/js/jquery.js"></script>
    <script src="static/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="static/js/rd-smoothscroll.min.js"></script>

    <!--[if lt IE 9]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <script src="js/html5shiv.js"></script>
    <![endif]-->
    <script src='static/js/device.min.js'></script>

    <style type="text/css">
.gitBtn {
    background-color: transparent;
    /*opacity: 0.5;*/
    color: #2D2B2C;
    border: 2px solid #2D2B2C;
    border-radius: 5px;
    padding: 10px;
    text-align: top;
    height: 90px;
    width: 160px;
}
.gitBtn img{
    width: 40px;
}
    </style>
</head>
<body>
<div class="page">
    <!--========================================================
                              HEADER
    =========================================================-->
    <header>
        <div id="stuck_container" class="stuck_container">
            <nav class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <h1 class="navbar-brand">
                            <a data-type='rd-navbar-brand' href="#/"><span class="fa-sun-o"></span>Kerrin Arora</a>
                        </h1>
                    </div>

                    <div class="navbar-right">
                        <ul class="navbar-nav sf-menu" data-type="navbar">
                            <li>
                                <a href="#/">Home</a>
                            </li>
                            <li class="active">
                                <a href="#/about">About</a>
                            </li>
                            <li>
                                <a href="#/resume">Resume</a>
                            </li>
                            <li>
                                <a href="#/contact">Contacts</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>
        </div>
    </header>


    <!--========================================================
                              CONTENT
    =========================================================-->

    <main>

        <section class="well well__ins1 center767">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="text-center">
                            <span class="fa fa-user"></span>
                            <h6><span class="h_mod h_mod_ins">my bio</span></h6>

                            <h2>Formal Education</h2>
                        </div>
                        <article>
                            <time class="fs_italic text-primary" datetime='2015'>May 15, 2012</time>
                            <h6>
                                <a href="#">
                                    University of Houston
                                </a>
                            </h6>

                            <p class="fs_italic">
                                Graduated Cum Laude from the University of Houston, with a B.S. in Finance. 
                            </p>
                        </article>

                        <article>
                            <time class="fs_italic text-primary" datetime='2015'>April 1, 2016</time>
                            <h6>
                                <a href="#">
                                    Coding Dojo
                                </a>
                            </h6>

                            <p class="fs_italic">
                                Graduated as a full stack developer in Python, MEAN, and iOS from Coding Dojo in San Jose, CA.
                            </p>
                        </article>


                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="text-center">
                            <span class="fa fa-file-text-o"></span>
                            <h6><span class="h_mod h_mod_ins">My skills</span></h6>

                            <h2>Language Stacks</h2>
                        </div>
                        <h6>Python</h6>

                        <p>
                            Full Stack Python Developer. Knowledgeable in both Flask and Django as well as MySQL and AJAX
                        </p>

                        <h6>MEAN</h6>

                        <p>
                            Full Stack MEAN developer. Knowledgeable in implementation and use of MongoDB, Express.js, Angular.js, Node.js, and Sockets.
                        </p>

                        <h6>iOS</h6>

                        <p>
                            Capable iOS developer, knowledgeable in Swift, Xcode, iOS functionality, Core Data, and iOS Sockets.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="parallax well well__ins1 text-center" data-url="images/parallax4.jpg" data-mobile="true"
                 data-direction="inverse" data-speed="1">
            <div class="container">
                <h2 class="wow fadeInRight">Get to know me</h2>

                <p class="wow fadeInLeft">As a life long student, I find interest in everything I do and am always looking for the next big thing to start me on a new path of discovery. Whether it be a new software language or an idea mentioned in a passing conversation, I fully immerse myself until I see its end potential.</p>

                <p class="wow fadeInRight">Despite my obsessive know-it-all tendencies, when I'm not busy yelling expletives at my monitor, you can find me running to clear my mind or hopping around town with friends.</p>

                
            </div>
        </section>

        <section class="well well__ins1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="text-center">
                            <span class="fa fa-heart"></span>
                            <h6><span class="h_mod h_mod_ins">Why choose me</span></h6>

                            <h2>because i'm awesome!</h2>
                        </div>
                        <ul class="index-list">
                            <li class="">

                                <h6>Team Player</h6>

                                <p>
                                    Over the years, I have worked with many teams throughout many companies and have always risen to be a team leader. I believe in constant communication and that as a team we either succeed or fail together.
                                </p>
                            </li>

                            <li class="">

                                <h6>Deadline Oriented</h6>

                                <p>
                                    Having previously worked in the world of investment finance, I am no stranger to meeting deadlines. Working efficiently and understanding how to prioritize are hallmark traits that I bring to the table.
                                </p>
                            </li>

                            <li class="">

                                <h6>Wicked Good at Ping Pong</h6>

                                <p>My top spin is greater than yours.</p>
                            </li>
                        </ul>
                        <br>
                        <br>
                    </div>
                    <br>

                    <div class="col-md-6 col-sm-6 col-xs-12 center767">
                        <div class="text-center">
                            <span class="fa fa-image"></span>
                            <h6><span class="h_mod h_mod_ins">my principles</span></h6>

                            <h2>Attitude</h2>
                        </div>

                        <div class="text-center">
<!--                             <h6 class="">Daily Goals</h6>

                            <p class="">
                                My goals in a workplace...
                            </p> -->
                            <br>

                            <ul >
                                <li style="color: lightblue"><i>Work Smart</i></li>
                                <br>
                                <li style="color: lightblue"><i>Do Good</i></li>
                                <br>
                                <li style="color: lightblue"><i>Innovate</i></li>
                                <br>
                                <li style="color: lightblue"><i>Have Fun</i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="text-center">
                            <span class="fa fa-comments"></span>
                            <h6><span class="h_mod h_mod_ins">Past Work</span></h6>

                            <h2>Projects</h2>
                        </div>
                        <br>
                        <div class="text-center">
                            <a  href="https://github.com/Kerrin631"><button class="gitBtn">View GitHub <br><img src="static/images/github.png"></button></a>

                        <br>
                        <br>
                            <a  href="https://www.linkedin.com/in/kerrinarora"><button class="gitBtn">View LinkedIn <br><img src="static/images/linkedIn.png"></button></a>
                        </div>

                    </div>
                </div>
            </div>
        </section>


    </main>

    <!--========================================================
                            FOOTER
  =========================================================-->
    <footer>
        <div class="container">
            <h1 class="navbar-brand">
                <a href="#/"><span class="fa-sun-o"></span>Kerrin Arora</a>
            </h1>
            <section>
                <div class="container">

                    <p class="rights">
                        &#169; <span id="copyright-year"></span> All Rights Reserved <!-- <span class="off_fot">|</span> -->
                        <!-- {%FOOTER_LINK} -->
                    </p>
                </div>
            </section>
        </div>
    </footer>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/tm-scripts.js"></script>
<!-- </script> -->


</body>
</html>
